html, body {
	height: 100%;
}

body {
	
	font-family: 'Roboto', sans-serif !important;		
	background: -webkit-linear-gradient(45deg, #66cdcc, #336799);
}

.logo {
	color: #fff;
	font-weight: 100;
	font-size: 80px;
	padding-bottom: 20px;
}

.form-signin input {
  margin-bottom: 10px;
 }

 .btn-primary {
 	background-color: #fff !important;
 	border: #fff !important;
 	border-radius: 1px !important;
 	font-weight: 300 !important;
 	color: #336799 !important;
 }

.form-control {
	margin-bottom: 10px;
	height: 45px !important;
	background-color: transparent !important;
	border-radius: 1px !important;
	border: 1px solid #fff !important;	
	color: #fff!important;
}

.form-control::-webkit-input-placeholder {
  color: #fff!important;
  font-weight: 300;
}

.login-instructions-left {
	color: #fff;
	font-weight: 300;
	font-size: 12px;
	text-align: left;
}

.login-instructions-right {
	color: #fff;
	font-weight: 300;
	font-size: 12px;
	text-align: right;
}

.login-instructions-center {
	color: #fff;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	padding-bottom: 10px;
}
.sm {
	font-size: 12px;
	padding-top: 10px;

}