html, body {
	height: 100%;
}

body {
	
	font-family: 'Roboto', sans-serif;		
	background: -webkit-linear-gradient(45deg, #66cdcc, #336799);
}

.logo {
	padding-bottom: 10px;	
	
}

.form-signin input {
  margin-bottom: 10px;
 }

 .btn-primary {
 	background-color: #fff;
 	border: #fff;
 	border-radius: 1px;
 	font-weight: 300;
 	color: #336799
 }

.form-control {
	margin-bottom: 10px;
	height: 45px;
	background-color: transparent;
	border-radius: 1px;
	border: 1px solid #fff;	
	color: #fff;
}

.form-control::-webkit-input-placeholder {
  color: #E9E3DE;
  font-weight: 300;
}

.login-instructions-left {
	color: #fff;
	font-weight: 300;
	font-size: 12px;
	text-align: left;
}

.login-instructions-right {
	color: #fff;
	font-weight: 300;
	font-size: 12px;
	text-align: right;
}

.login-instructions-center {
	color: #fff;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	padding-bottom: 10px;
}
.sm {
	font-size: 12px;
	padding-top: 10px;

}