html, body {
	height: 100%;
}

body {	
	font-family: 'Roboto', sans-serif;		
	background: -webkit-linear-gradient(45deg, #66cdcc, #336799);
}

.btn-primary {
 	background-color: #fff;
 	border: #fff;
 	border-radius: 1px;
 	font-weight: 300;
 	color: #336799
 }

.form-control {
	margin-bottom: 10px;
	height: 45px;
	background-color: transparent;
	border-radius: 1px;
	border: 1px solid #fff;	
	color: #fff;
}

.form-control::-webkit-input-placeholder {
  color: #E9E3DE;
  font-weight: 300;
}

h3 {
	color: #fff;
	font-weight: 300;
	font-size: 16px;
	text-align: center;
	padding-bottom: 10px;
}

h4 {
	color: #fff;
	font-weight: 300;
	font-size: 13px;
}

.atention {
	color: #743100;
	line-height: 0.1;
}